
<section class="content">
  
</section>

@section SCRIPTS {
    <script src="~/js/AlertMsg/notify.js"></script>
    @*<script src="~/js/app-Controllers/Dashboard.js"></script>*@
}

@section CSS {
    <link href="~/js/AlertMsg/notify.css" rel="stylesheet" />
    <style>
        .loader {
            border: 3px solid #f3f3f3;
            border-radius: 50%;
            border-top: 3px solid blue;
            border-right: 3px solid green;
            border-bottom: 3px solid red;
            border-left: 3px solid pink;
            width: 30px;
            height: 30px; 
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
    </style>
}