
@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }


<section class="content" ng-controller="AdminAboutUs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Admin About Us</h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form name="blogForm" novalidate>

                            <div class="form-group">

                                <summernote ng-model="text"></summernote>
                            </div>



                            <div class="form-check">
                                <input id="isEnabled" name="isEnabled" type="checkbox" class="form-check-input" ng-model="aboutUs.isEnabled">
                                <label class="form-check-label" for="exampleCheck1">Is Active</label>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" id="submit" class="btn btn-primary" ng-click="submit($event)" ng-disabled="(!blogForm.$valid) ">Save changes</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->


                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->



</section>
<!-- /.modal -->
@section SCRIPTS {
    <script src="~/js/Angular/SomeOthers/sweetalert.js"></script>
    <script src="~/js/AlertMsg/notify.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
    <script src="~/js/Angular/SomeOthers/angular-summernote.js"></script>
    <script src="~/js/Angular/SomeOthers/angular-animate.js"></script>
    <script src="~/js/Angular/SomeOthers/angular-sanitize.js"></script>
    <script src="~/js/Angular/SomeOthers/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="~/js/Angular/SomeOthers/underscore.js"></script>
    <script src="~/js/Angular/SomeOthers/SweetAlert.min.js"></script>
    <script src="~/js/Angular/SomeOthers/sweetalert.js"></script>
    <script src="~/js/Angular/SomeOthers/scrutinyService.js"></script>
    <script src="~/js/app-Controllers/AdminAboutUs.js"></script>

}

@section CSS{
    <link href="~/js/AlertMsg/notify.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet" />
    <link href="~/css/ng-img-crop.css" rel="stylesheet" />
    <style>
        ng-quill-editor.ng-invalid .ql-container {
            border: 1px dashed red;
        }
    </style>

    <style>
        .modal {
            overflow-y: auto !important;
        }

        .cropArea {
            background: #E4E4E4;
            overflow: hidden;
            width: 400px;
            height: 230px;
        }

        .notify-error {
            color: #030303;
            Background: rgba(229, 225, 38, 0.89)
        }

        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

        .btn-cutom {
            border: 2px solid gray;
            color: gray;
            background-color: white;
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 11px;
            font-weight: bold;
        }

        .thumb {
            width: 22%;
        }

        .progress {
            display: inline-block;
            width: 100px;
            border: 3px groove #CCC;
        }

            .progress div {
                font-size: smaller;
                background: orange;
                width: 0;
            }

        .act {
            border: 4px solid #f8dd06;
            /*#7938C2*/
        }



        .middle {
            transition: .0s ease;
            opacity: 0;
            position: absolute;
            top: 5%;
            left: 82%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(0%, 0%);
            text-align: center;
            z-index: 9999;
        }

        .Alttext {
            transition: .0s ease;
            opacity: 0;
            position: absolute;
            top: 40%;
            left: 44%;
            -ms-transform: translate(0%, 0%);
            text-align: center;
            z-index: 9999;
        }

        #hov:hover .aaa {
            position: relative;
            bottom: 39px;
            right: 20px;
        }

        #hov:hover .middle {
            opacity: 1;
        }

        #hov:hover .Alttext {
            opacity: 1;
        }
    </style>
}

