<div ng-controller="Voucher">
    <div class="page-bar">
        <div class="col-md-12">
            <div class="col-md-12">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="/Voucher/index">Voucher</a>
                    </li>
                    <li>
                        <span>Voucher</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <section class="box row" style="padding:15px;">
            <div class="col-md-12">
                <h2 style="margin:0;margin-bottom:20px;">
                    Voucher
                </h2>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary sharp pull-right" style="margin-right:0px; margin-bottom:20px;" ng-click="openCreateModel()"><i class="fa fa-plus"></i> Create Voucher</button>
            </div>
            <hr />
            <div class="col-md-12 col-lg-8 col-xl-8">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <p class="input-group">
                            <input type="text" readonly style="height: 38px; border-right: hidden;" class="form-control date" ng-change="findForwardedCases()" uib-datepicker-popup="{{format}}" ng-model="dateRang.str" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default date date-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>

                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <p class="input-group">
                            <input type="text" readonly style="height: 38px; border-right: hidden;" class="form-control date" ng-change="findForwardedCases()" uib-datepicker-popup="{{format}}" ng-model="dateRang.end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default date date-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>

                    </div>
                </div>
                <div class="tab-pane active" id="fwdCases" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12">
                            Total Records: {{forwardedPagination.TotalRecords}}
                        </div>
                        <div class="col-md-3 mb-1">
                            <div class="search-bar-cntnr" style="margin-top: 27px; margin-bottom: 25px;">
                                <input type="text" class="form-control" placeholder="Search" ng-model="forwardedSearch" ng-change="findForwardedCases()" ng-model-options="{debounce: 400}" />
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-condensed table-bordered">
                        <thead>
                            <tr style="cursor:pointer;">
                                <th><strong>Sr #</strong></th>
                                <td ng-click="sortByForwardedCases(0)">
                                    <strong>Date</strong>
                                    <div ng-class="getClassForwardedCases(0)" class="pull-right" style="margin-top:2px;"></div>
                                </td>
                                <td ng-click="sortByForwardedCases(1)">
                                    <strong>Expiry</strong>
                                    <div ng-class="getClassForwardedCases(1)" class="pull-right" style="margin-top:2px;"></div>
                                </td>
                                <td ng-click="sortByForwardedCases(6)">
                                    <strong>Validity In Months</strong>
                                    <div ng-class="getClassForwardedCases(6)" class="pull-right" style="margin-top:2px;"></div>
                                </td>
                                <td ng-click="sortByForwardedCases(2)">
                                    <strong>Name</strong>
                                    <div ng-class="getClassForwardedCases(2)" class="pull-right" style="margin-top:2px;"></div>
                                </td>
                                <td ng-click="sortByForwardedCases(3)">
                                    <strong>Code</strong>
                                    <div ng-class="getClassForwardedCases(3)" class="pull-right" style="margin-top:2px;"></div>
                                </td>
                                <td ng-click="sortByForwardedCases(4)">
                                    <strong>Discount</strong> <div ng-class="getClassForwardedCases(4)" class="pull-right" style="margin-top:2px;"></div>
                                </td>
                                <td ng-click="sortByForwardedCases(5)">
                                    <strong>Status</strong> <div ng-class="getClassForwardedCases(5)" class="pull-right" style="margin-top:2px;"></div>
                                </td>
                                <td>
                                    <strong>Action</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="itm in forwardedCases">
                                <td>
                                    {{((forwardedPagination.Page - 1) * forwardedPagination.PageSize) + ($index+1)}}
                                </td>
                                <td>{{itm.date | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
                                <td>{{itm.expiry | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
                                <td>{{itm.expiryMonth}}</td>
                                <td>{{itm.name}}</td>
                                <td>{{itm.code}}</td>
                                <td>{{itm.discount}}%</td>
                                <td>
                                    <span ng-if="itm.isActive" class="btn btn-success">Active</span>
                                    <span ng-if="!itm.isActive" class="btn btn-danger">In active</span>
                                </td>
                                <td>
                                    <a ng-if="itm.isActive" ng-click="changeStatus(itm.id,false)" class="btn btn-danger">Inactive</a>
                                    <a ng-if="!itm.isActive" ng-click="changeStatus(itm.id,true)" class="btn btn-success">Active</a>
                                    @*<a ng-click="GetEditData(itm.id)" class="btn btn-success">Edit Voucher</a>*@

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination total-items="forwardedPagination.TotalRecords" ng-model="forwardedPagination.Page" items-per-page="forwardedPagination.PageSize" ng-change="loadForwardedCases()" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade in" id="show-detail-modal" padding-right: 13px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Create Voucher</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" id="VN" ng-model="voucherModel.Name" class="form-control" placeholder="Name" />
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" id="VC" ng-model="voucherModel.Code" class="form-control" placeholder="Code" />
                            <span style="color:red" id="CE"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <span style="color:red" id="DE"></span>
                            <input type="number" id="VD" ng-model="voucherModel.Discount" class="form-control" placeholder="Discount %" style="width:45%;float:left;" />
                            <span style="float: left; font-size: 20px; margin: 5px;">%</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="number" id="VEM" ng-model="voucherModel.ExpiryMonth" class="form-control" placeholder="Validity" style="width:45%;float:left;" />
                            <span style="float: left; font-size: 20px; margin: 5px;">Months</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 pl-0">
                            <p class="input-group">
                                <input title="Expiry Date" type="text" id="VE" readonly style="height:40px;border-right: hidden;" class="form-control date" uib-datepicker-popup="{{format}}" ng-model="voucherModel.Expiry" is-open="popup3.opened" datepicker-options="dateOptionForForm" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" style="border-radius: 0 3px 3px 0;" class="btn btn-default date" ng-click="open3()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success pull-left" ng-click="saveVoucher()">Save</button>
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>



@section SCRIPTS{
    <script src="../js/AlertMsg/notify.js"></script>
    <script src="../js/Angular/SomeOthers/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="../js/Angular/SomeOthers/underscore.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.js"></script>
    <script src="../js/Angular/SomeOthers/commonService.js"></script>
    <script src="../js/app-Controllers/AppFactory.js"></script>
    <script src="~/js/app-Controllers/Voucher.js"></script>
}


@section CSS{
    <link href="../js/AlertMsg/notify.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <style>
        .validation {
            border-color: red;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
}


